body {
    background-color: black;
    color: white;
  }
  
  span#numDice,
  input[type="number"] {
    font-size: 20px;
    text-align: center;
  }
  
  input[type="number"] {
    width: 75px;
    margin-bottom: 10px;
  }
  
  div#resultDiv {
    border: 1px solid white;
    margin: 5px 0px;
    padding: 5px 5px;
    max-width: 400px;
    white-space: pre-line;/* Handling line breaks in output */
  }
  
  span.winningDice {
    font-weight: bold;
    font-size: 150%;
    color: Lime;
  }
  
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.number-input {
  display: flex;
}

input {
  width: 40px;
  border: solid 1px lightgrey;
  border-radius: 0;
  text-align: center
}

.spinner {
  border: solid 1px lightgrey;
}

.spinner:hover {
  background: lightgrey;
}

.spinner:first-child {
  border-radius: 3px 0 0 3px;
}

.spinner:last-child {
  border-radius: 0 3px 3px 0;
}
